<!DOCTYPE html>
<html lang="zh_CN" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title data-locale="option_title">设置</title>
    <!-- @see https://v3.bootcss.com/getting-started/ -->
    <link rel="stylesheet" href="bootstrap.css">
    <script src="jquery.min.js"></script>
    <script src="bootstrap.js"></script>
    <style>
        .container {
            padding: 20px 60px 40px 50px;
        }
    </style>
</head>
<body>
Hello
<div id="counter" class="container">

    <div class="page-header">
        <h1>配置</h1>
    </div>

    <div class="row">
        <div class="input-group">
            <span class="input-group-addon">搜索预览：</span>
            <input type="text" class="form-control" placeholder="View" v-model="searchViewValue">
            <input type="text" class="form-control" placeholder="View" :value="searchView" readonly>
        </div>
    </div>
    <div class="row" style="padding-top: 40px"></div>
    <div class="row">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>排除值</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(exclude, i) in excludes"
                :class="exclude.enable ? 'success' : 'danger'"
            >
                <th v-text="i+1"></th>
                <td><code v-text="exclude.id"></code></td>
                <td>
                    <span v-if="exclude.enable" class="label label-success">启用中</span>
                    <span v-if="!exclude.enable" class="label label-danger">已停用</span>
                </td>
                <td>
                    <span>删除</span>
                    |
                    <span v-if="exclude.enable">停用</span>
                    <span v-if="!exclude.enable">启用</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<!--<script src="vue.js"></script>-->
<script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<!--<script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>-->
<!--<script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>-->

<script src="../content_scripts/resetSearch.js"></script>
<script src="options.js" type="text/babel"></script>
</body>
</html>